:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  background: url('/bg-pattern-bottom.svg') bottom -600px right -150px no-repeat,
    url('/bg-pattern-top.svg') top -500px left -200px no-repeat, var(--dark-cyan);
}

img {
  display: block;
  max-width: 100%;
}

.card {
  max-width: 350px;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
}

.card__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1.5rem;
}

.card__image {
  margin-top: -48px;
  border-radius: 50%;
  border: 5px solid white;
  width: 96px;
}

.card__title {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  color: var(--very-dark-desaturated-blue);
}

.title-highlight {
  font-weight: 400;
  color: var(--dark-grayish-blue);
  margin-left: 0.625rem;
}

.card__text {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--dark-grayish-blue);
}

.card__bottom {
  border-top: 1px solid #e8e9ec;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2.5rem;
}

.item__title {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  font-size: 1.125rem;
}

.item_text {
  color: var(--dark-grayish-blue);
  font-size: 0.625rem;
  letter-spacing: 1.5px;
  margin-top: 0.375rem;
}

@media (min-width: 500px) {
  .card__bottom {
    gap: 2.875rem;
  }
}
